#!/usr/bin/env bash

# General
alias ll='ls -l'
alias la='ls -A'
alias lla='ls -lA'
alias diff='colordiff'

# Git
alias g="git"

# Kubernetes
alias k='kubectl'
alias ktx='kubectx'
alias kns='kubens'
alias kp='kubectl get pods'
alias kdp='kubectl delete pod'
alias kl='kubectl logs'
alias kshell='kubectl exec -it'
alias kdesc='kubectl describe pod'

# VSCode
alias code-k8s='code ~/go/src/k8s.io/kubernetes'
alias code-argo='code ~/go/src/github.com/argoproj/argo'
alias code-argocd='code ~/go/src/github.com/argoproj/argo-cd'
alias code-rollouts='code ~/go/src/github.com/argoproj/argo-rollouts'

# Misc
alias whatismyip='dig @resolver1.opendns.com ANY myip.opendns.com +short'