#!/usr/bin/env bash

# Decode a kubernetes secret
kdecode() {
	if [ -z "$1" ]; then
		echo "Usage: kdecode SECRETNAME"
		return 1
    fi
    kubectl get secret -o json $@ | jq -r '.data | map_values(@base64d)'
}

# kubectl get pods for only system namespaces
kp-system() {
	out=$(kubectl get pods --all-namespaces $@ | grep -v Completed)
	header=$(printf "${out}" | head -1)
	rest=$(printf "${out}" | egrep -e "^(kube-system|monitoring|opa)")
	printf "${header}\n${rest}" | column -t 2>/dev/null
}

# Show only crashing pods (above some threshold)
kp-crashing() {
	threshold=$1
	if [ -z "$threshold" ]; then
	    threshold="10"
	fi
	out=$(kp-system -o wide)
	header=$(printf "${out}" | head -1)
	rest=$(printf "${out}" | tail -n +2 | awk "\$5 > ${threshold} {print \$0}")
	printf "${header}\n${rest}" | column -t 2>/dev/null
}

# Common first things to look for during troubleshooting
k-troubleshoot() {
	echo "DaemonSets:"
	kubectl get ds --all-namespaces
	echo
	echo "Pod Restarts:"
	kp-crashing
	echo
	echo "Nodes NotReady:"
	kubectl get nodes -o wide | grep -v " Ready "
}

# `kubectl get pods` joined with top information
ktop-pods() {
	args=()
	orig_args=()
	while test ${#} -gt 0; do
		orig_args+=("$1")
		# Remove -o wide option from `kubectl top pods` since it is unsupported by that command
		if [ "$1" = "-o" ]; then
			shift
			orig_args+=("$1")
			shift
			continue
		fi
		args+=("$1")
		shift
	done
	join <(kubectl top pods ${args[@]}) <(kubectl get pods ${orig_args[@]}) | column -t
}

# `kubectl get nodes` joined with top information
ktop-nodes() {
	join <(kubectl top nodes) <(kubectl get nodes $@) | column -t
}

# https://github.com/jessfraz/dotfiles/blob/master/.functions
# Determine size of a file or total size of a directory
fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh
	else
		local arg=-sh
	fi
	# shellcheck disable=SC2199
	if [[ -n "$@" ]]; then
		du $arg -- "$@"
	else
		du $arg -- .[^.]* *
	fi
}
